@import '../App.module.scss';

.wrap {
  border-top: 1px solid $borderColor;
  margin-top: 30px;
  .backBtn {
    align-items: center;
    display: flex;
    padding: 15px;
    min-width: 68px;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid $borderColor;
  }
  .price {
    font-weight: bold;
  }
  .estimation {
    padding: 10px 15px;
    span {
      font-weight: bold;
    }
    p {
      margin-bottom: 0
    }
  }
  .nextBtn {
    @extend %primaryBtn;
    margin-right: 10px;
    align-self: center;
    @media (max-width: 768px) {
      min-width: 60px;
    }
  }
}
