@import '../App.module.scss';

.labelText {
  @extend %labelText
}
.title {
  margin-bottom: 0;
  font-size: 16px;
}
.progress {
  padding: 12px 20% 0px 20%;
  :global {
    .react-sweet-progress-line-inner {
      min-height: 5px;
    }
    .react-sweet-progress-symbol {
      display: none;
    }
    .react-sweet-progress-line-inner-status-active{
      &:before {
        animation: none;
      }
    }
  }
  
}