@import '../App.module.scss';

.wrap {
  margin: 10px 20%;
  display: none;
  &.show {
    display: block;
  }
  .multipleChoiceExtraInput {
    display: none;
    &.show {
      display: block;
    }
  }
  h4 {
    color: $red;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .required {
    margin: 5px 0 0 0;
    &.label {
      @extend %labelText;
      text-align: center;
    }
    span {
      color: $red;
      margin-right: 3px;
    }
  }
  .error {
    @extend %labelText;
    color: $red;
    margin: 5px 0 0 0;
    text-align: center;
  }
}