$red: #E3193A;
$white: #FFFFFF;
$borderColor: #DDDDDD;

body {
  padding: 20px;
}
.formWrap {
  max-width: 600px;
}
%labelText {
  font-size: 13px;
  color: #999;
}
:global {
  .form-control:focus {
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(227, 25, 58, 0.25);
      border-color: rgb(227, 25, 58) !important;
    }
  }
}
%primaryBtn {
  background: $red !important;
  color: $white !important;
  border-radius: 1.5em !important;
  border: none !important;
  min-width: 120px;
}